.header
{
    .logo a
    {
        padding: 0 70px 0 15px;
    }
}
.footer
{
    padding: 10px 15px;
    .copyright
    {
        padding-right: 10px;
    }
    .menu
    {
        text-decoration: none;
        padding: 0 10px 0 0;
    }
}

.select-language
{
    padding: 2px 4px;
    &:hover
    {
        text-decoration: none;
        background-color: #EBEBEB;
    }
}

// login



// common
.hj-padding-15
{
    padding: 0 15px;
}

@media (max-width: 479px)
{
    .uk-hidden-mini
    {
        display: none !important;
    }
}
@media (min-width: 480px)
{
    .uk-visible-mini
    {
        display: none !important;
    }
}